// styles

.accessible-hidden
  position absolute
  left -10000px
  top auto
  width 1px
  height 1px
  overflow hidden

:focus
  padding 5px
  background-color #fff0f2
  outline rgb(229, 151, 0, 255) auto 5px
  outline -webkit-focus-ring-color auto 5px
  & *
    background-color #fff0f2