<ng-form name="metadataMatchForm">
  <div ng-repeat="x in volume.selected_mapping track by $index">
    Match {{x.csv_field}} to the following column name
    <select name="{{x.csv_field}}" ng-model="x.metric">
    	<option value="">Please select</option>
    	<option value="{{x.metric}}">{{x.metric}}</option>
    	<option value="hello">hello</option>
    </select>
    <span>
	  	{{x.metric}}
	  </span>
	<button class="green" ng-click="metadataMatchForm.save()">
	    Save
	</button>
	<a>
	    Skip
	</a>
  </div>
</ng-form>