metadata-match-form
  table
    margin 20px 0

    th
      background-color #eee
      font-weight bold

    th, td
      border 1px solid #ccc
      padding 10px

    td
      background-color #fff !important

  .margin-top
    margin 20px 0

  button
    margin 0 20px 0 0

  .skip-text
    display none